/*
- Font Size System (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

color: #ec255a, #ffeb3b

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* background-color: #d6e5fa; */
  /* background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd); */
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000); */

body {
  max-width: 100rem;
  font-size: 2.2rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.board {
  /* max-width: 80%; */
  /* height: 80%; */
  height: 43rem;
  width: 43rem;
  margin: 0 auto;
  /* max-width: 60%; */
  /* border: 1px solid; */
  /* background-color: aliceblue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /**/
  /* font-size: 9.8rem; */
  /**/
  text-align: center;
}

.grid {
  border: 0.2rem solid;
  border-color: #2f0712;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  /* font-family: inherit; */
/* } */

.game {
  display: flex;
  justify-content: center;
  /* margin-top: 5rem; */
  gap: 5rem;
}

.item-1,
.item-2,
.item-3 {
  border-top: none;
}
.item-7,
.item-8,
.item-9 {
  border-bottom: none;
}

.item-1,
.item-4,
.item-7 {
  border-left: none;
}
.item-3,
.item-6,
.item-9 {
  border-right: none;
}

button {
  display: block;
  margin: 40px 0;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #470b1b;
  color: #fde9ef;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;
}

button:hover {
  transform: rotateX(15deg);
  box-shadow: 0 15px 15px #470b1b;
}

/*modal*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: white;
  width: 50rem;
  max-width: 80%;
  border-radius: 6px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 5rem;
  background-color: #fff59d;
  font-weight: 500;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.section {
  display: flex;
}

input {
  margin: 8.1rem 0rem 0rem 0rem;
  border: none;
  border-radius: 6px;
  outline: 0;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #8e1636;
  color: #fde9ef;
  font-weight: 500;
  font-size: 1.4rem;
}
::placeholder {
  color: #f7a8bd;
}
.input-1 {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  max-width: 20%;
}
.input-2 {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  max-width: 20%;
}

.icon-1 {
  font-size: 13rem;
  color: #00a8ff;
}

.icon-2 {
  color: #ec255a;
  font-size: 10rem;
}

.score-1,
.score-2 {
  text-align: center;
  margin: 5rem 5rem 0 5rem;
  font-size: 4.2rem;
  border: 1px solid;
  border-radius: 3px;
  color: #5e0f24;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
